.cover__sutitle {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	margin: 0 auto 0;
	/* or 122% */
	max-width: 360px;
	z-index: 9;
	/* opacity: 0; */
	text-align: center;
	border: 1px solid red;
}
