.cover__sutitle {
	font-weight: normal;
	font-size: 18px;
	line-height: 122%;
	max-width: 360px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.cover__sutitle {
		font-size: 14px;
		line-height: 114%;
	}
}
