.page {
	font-family: "Inter", "Arial", sans-serif;
	/* font-weight: normal; */
	background-color: #e5e5e5;
	/* color: #ffffff; */
	max-width: 1280px;
	display: grid;
	justify-content: center;
	margin: auto;
}
