.places__url {
	display: grid;
	width: 50%;


	font-size: 12px;
	max-height: 12px;
	/* identical to box height, or 100% */

	letter-spacing: 2px;
	color: #aaa;
	grid-area: places__url;
	border: 1px solid red;
}
