/* .header__columns {
	display: grid;
	width: 100%;
	/* padding: 28px 48px 0; */
	/* margin: 0; */
	/* margin: 28px 48px 0; */
	/* justify-content: space-between;
	grid-template-areas:
	"header__logo header__links";
	border: 1px solid orange; */
} */

/* @media screen and (max-width: 1024px) {
	.header__columns {
		padding: 28px 96px 0;
	}
} */
/*
@media screen and (max-width: 768px) {
	.header__columns {
		padding: 28px 24px 0;
	}
} */

/* @media screen and (max-width: 320px) {
	.header__columns {
		padding: 16px 16px 0;
	}
} */
