.places__title {
	/* display: grid; */
	max-width: 460px;

	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	max-height: 100vh;
	margin: 0 40px 0 0;
	padding: 0;
	grid-area: places__title;
	/* or 106% */
	border: 1px solid green;
}
