.lead {
	display: flex;
	flex-direction: column;
	font-style: normal;
	margin: 0 auto;
	max-width: 1184px;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.lead {
		padding: 0 48px;
	}
}

@media screen and (max-width: 795px) {
	.lead {
		padding: 0 ;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		padding: 0;
	}
}

@media screen and (max-width: 320px) {
	.lead {
		max-width: 320px;
	}
}
