.lead {
	display: flex;
	flex-direction: column;

	/* max-width: 1184px; */
	margin: 56px auto 0;
	/* align-content: center; */
	justify-content: center;
	/* padding: 0; */
	/* border: 1px solid green; */
}

@media screen and (max-width: 1024px) {
	.lead {
		margin: 48px 48px 0;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		margin: 48px 0;
	}
}

@media screen and (max-width: 320px) {
	.lead {
		max-width: 320px;

		padding: 0;
	}
}
