.photo__item {
	max-width: 284px;
	width: 100%;
}


@media screen and (max-width: 1200px) {
	.photo__item {
		max-width: 284px;
	}
}
@media screen and (max-width: 1024px) {
	.photo__item {
		max-width: 300px;
	}
}

@media screen and (max-width: 900px) {
	.photo__item {
		max-width: 352px;
	}
}

@media screen and (max-width: 768px) {
	.photo__item {
		max-width: 352px;
	}
}

@media screen and (max-width: 320px) {
	.photo__item {
		min-width: 288px;
	}
}
