.lead__title {
	font-weight: 900;
	font-size: 96px;
	line-height: 104%;
	max-width: 720px;
	text-align: center;
	align-content: center;
	margin: 0 auto 32px;
	padding: 0;
}

@media screen and (max-width: 705px) {
	.lead__title {
		min-width: 288px;
		font-size: 40px;
		line-height: 110%;
		margin: 0 0 16px;
	}
}

@media screen and (max-width: 370px) {
	.lead__title {
		min-width: 288px;
		line-height: 110%;
		padding: 0;
	}
}

@media screen and (max-width: 320px) {
	.lead__title {
		max-width: 288px;
	}
}
