.footer__copyright {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	/* max-height: 100%; */
	/* identical to box height, or 114% */

	text-align: right;
	/* grid-area: footer__copyright; */

	border: 1px solid red;
}
