.cover {
	display: flex;
	font-style: normal;
	max-width: 1184px;

	/* margin: 0 auto; */
	background-image: url("../../images/__background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: opacity, 0.3s #2a2c2f;
}

.cover::after {
	content: "";
	width: 0;
	height: 0;
	margin-left: -1px;
	padding-top: calc(740 / 1184 * 100%);
}

@media screen and (max-width: 1024px) {
	.cover {
		max-width: 1024px;
	}
}

@media screen and (max-width: 768px) {
	.cover {
		max-width: 768px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		min-width: 320px;
	}
}
