.places__links {
	display: grid;
	gap: 12px;
	align-self: end;
	grid-area: places__links;
	margin: 0;
	padding: 0;
	grid-template-areas:
		"places__url"
		"places__link";
}

@media screen and (max-width: 490px) {
	.places__links {
		padding: 0 16px;
		align-self: start;
	}
}
