.cover__item {
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	background: rgba(42, 44, 47, 1);
	opacity: 30%;
}

.cover__item:hover {
	background: rgba(42, 44, 47, 1);
	opacity: 80%;
}

@media screen and (max-width: 320px) {
	.cover__item {
		gap: 16px;
	}
}
